.button-wrap {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    margin-top: 20px;
    overflow-x: auto; 
    white-space: nowrap; 
  }

.button-year {
  background-color: #c2fbd7;
  /* border-radius: 100px; */
  height: 50px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 5px;
}

.button-year:hover {
  box-shadow: rgba(35, 196, 97, 0.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05);
  background-color: #a1fac2;
}

.button-year.clicked{
    background-color: rgb(62, 167, 62);
    color: #c2fbd7;
}
::-webkit-scrollbar {
    height: 10px; 
  } 
  ::-webkit-scrollbar-track:horizontal {
    background: #d0f9df; 
  }

  ::-webkit-scrollbar-thumb:horizontal {
    background: #5ef798; 
  }
  
  ::-webkit-scrollbar-thumb:horizontal:hover {
    background: #59b583; 
  }
  
  ::-webkit-scrollbar:vertical {
    width: 15px; 
  }

  ::-webkit-scrollbar-track:vertical {
    background: #ffffff; 
  }

  ::-webkit-scrollbar-thumb:vertical {
    background: #9b9d9c; 
  }

  ::-webkit-scrollbar-thumb:vertical:hover {
    background: #828383; 
  }
