.major{
  font-size: xx-large;
  font-family:'Times New Roman', Times, serif
}
.button-wrap {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    margin-top: 20px;
    overflow-x: auto; 
    white-space: nowrap; 
  }

.button-year {
  background-color: #c2fbd7;
  border-radius: 10px;
  height: 50px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 5px;
}

.button-year:hover {
  box-shadow: rgba(35, 196, 97, 0.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05);
  background-color: #a1fac2;
}

.button-year.clicked{
    background-color: rgb(85, 210, 87);
    color: #c2fbd7;
}
::-webkit-scrollbar {
    height: 10px; 
  } 
  ::-webkit-scrollbar-track:horizontal {
    background: #d0f9df; 
  }

  ::-webkit-scrollbar-thumb:horizontal {
    background: #5ef798; 
  }
  
  ::-webkit-scrollbar-thumb:horizontal:hover {
    background: #03d855; 
  }
  
  ::-webkit-scrollbar:vertical {
    width: 15px; 
  }

  ::-webkit-scrollbar-track:vertical {
    background: #ffffff; 
  }

  ::-webkit-scrollbar-thumb:vertical {
    background: #9b9d9c; 
  }

  ::-webkit-scrollbar-thumb:vertical:hover {
    background: #828383; 
  }
.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.project-box {
    position: relative;
    width: 330px;
    padding: 0;
    margin: 20px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.blur {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 75%;
}

.blur img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.5s ease;
}
project-details{
  align-content: center;
}
p{
  color:#ffffff
}

